<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <a mat-button [routerLink]="['/']"><mat-icon>home</mat-icon> Home</a>
  <a mat-button [routerLink]="['/addresses']">
    <mat-icon>location_on</mat-icon>
    Addresses
  </a>
  <a mat-button disabled>
    <mat-icon>person_search</mat-icon>
    People
  </a>
  <a mat-button [routerLink]="['/performance']">
    <mat-icon>speed</mat-icon>
    Performance Demo
  </a>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>

  <button [disabled]="isDenied$ | async">Click me</button>

  <pre>
    {{ people$ | async | json }}
  </pre>
</div>
